<div class="card m-2" id="comments-new">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label class="form-label">닉네임</label>
                <input type="text" class="form-control" id="new-comment-nickname">
            </div>
            <div class="mb-3">
                <label class="form-label">댓글 내용</label>
                <textarea type="text" class="form-control" rows="3"
                          id="new-comment-body"></textarea>
            </div>
            <!-- 히든 인풋 -->
            {{#article}}
                <input type="hidden" id="new-comment-article-id" value="{{id}}">
            {{/article}}
            <button type="submit" class="btn btn-primary"
                    id="comment-create-btn">Submit
            </button>
        </form>
    </div>
</div>

<script>
    {
        /*
            //해당 id 값을 가진 요소를 찾아 변수에 저장하기
            자료형 변수명 = document.querySelector("#id_값");

            //이벤트가 감지되면 이벤트 처리함수 진행
            요소명.addEventListener("이벤트_타입", 이벤트_처리_함수)

            //객체 리터럴 : 자바스크립트에서 객체를 만드는 방식 중 하나
            var object = {
                key1: value1,
                key2: value2,
                ...
            }

            //자바스크립트로 REST API 호출하고 응답 처리하기
            fetch('API_주소', {
                method : 'POST', //요청 메소드(GET, POST, PATCH, DELETE)
                headers : { //헤더 정보
                    "Content-Type" : "application/json"
                },
                body : JSON.stringify(객체) //전송 데이터
            }).then(response => { //응답을 받아 처리하는 구문
                응답_처리문;
            });
        */

        //댓글 생성 버튼 변수화
        const commentCreateBtn = document.querySelector("#comment-create-btn");

        //댓글 클릭 이벤트 감지
        commentCreateBtn.addEventListener("click", function() {
            //새 댓글 객체 생성
            const comment = {
                //새 댓글의 닉네임
                nickname : document.querySelector("#new-comment-nickname").value,
                //새 댓글의 본문
                body : document.querySelector("#new-comment-body").value,
                //부모 게시글의 id
                articleId : document.querySelector("#new-comment-article-id").value
            };

            //댓글 객체 출력
            console.log(comment);

            //fetch() - 비동기 통신을 위한 API
            const url = "/api/articles/" + comment.articleId + "/comments";
            fetch(url, {
                method : "POST", //POST 요청
                headers : { //전송 본문의 데이터 타입(JSON) 정보
                    "Content-Type" : "application/json"
                },
                body : JSON.stringify(comment) //comment 객체를 JSON 문자열로 반환해 전송
            }).then(response => {
                //HTTP 응답 코드에 따른 메시지 출력
                const msg = (response.ok) ? "댓글이 등록됐습니다." : "댓글 등록 실패..!"; //응답 처리
                alter(msg);
                //현재 페이지 새로 고침
                window.location.reload(); //새로 고침
            });
        });

    }
</script>